.my-footer {
    background-color: #163b65;
    padding: 1em;
    color: #FFF;
    font-size: 80%;
    clear: both;
}

.notie-container {
    box-shadow: none;
}

.room-image {
    max-width: 50%;
}

.datepicker {
    z-index: 10000;
}

/*/-----------------/*/

html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }


            
        