{{ template "base" . }}

{{ define "content" }}

    <div class="container">
        <div class="row">
                <div class="col">
                    <h1 style="color:blue;">This is the about page</h1>
                    <p>This is some text for ABOUT</p>
                    <p>This is another text for ABOUT</p>

                    {{/* 
                            {{ index .StringMap "remote_ip" }}

                        The above code reads: index means i want to search through the referenced (indexed) data
                        within all the data passed to this view/template (denoted by the . (dot) character
                        for a key called 'StringMap' which we already know should hold a map.
                        I wish to grab the data in that map at the key 'remote_ip'

                        The code below reads: check for a map 'StringMap' and see if the value at its key 'remote_ip'
                        is NOT equal to a blank string (ne ... ""). If not, display that value, if it is a blank 
                        string, then tell them that value was not set.   
                    
                    */}}

                    <p>{{if ne (index .StringMap "remote_ip") ""}}
                            Your remote IP address is: {{index .StringMap "remote_ip"}}
                        {{else}}
                            I dont know your IP address. Visit <a href="/"> Home page</a> so i can set it.
                        {{end}}
                    </p>
                </div>
        </div>
    </div>

{{ end }}