{{ template "admin" . }}

{{ define "page-title" }}
    Reservations Calendar
{{ end }}


{{ define "content" }}

    <div class="col-md-12">
        <h3>Reservations Calendar Content</h3>
        <p><b>Here you can block off dates if you do not want reservations for a given room</b></p>
    </div>

{{ end }}