{{ template "admin" . }}

{{ define "page-title" }}
    Reservations Calendar
{{ end }}


{{ define "content" }}
    {{ $now := index .Data "now" }}
    {{ $rooms := index .Data "rooms" }}
    {{ $daysInMonth := index .IntMap "days_in_month" }}
    {{ $currentMonth := index .StringMap "this_month" }}
    {{ $currentYear := index .StringMap "this_month_year" }}

    <div class="container col-md-12">
        <h2>Reservations Calendar</h2>
        <div class="text-center">
            {{/* notes: How to format date in the template-formatDate() is a custom template func 
                Here we want to display month names not their digits, & year in 4 digits.
            */}}
            <h3>{{ formatDate $now "January" }} {{ formatDate $now "2006" }}</h3>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left">
                <a class="btn btn-outline-secondary" 
                    href="/admin/reservations-calendar?y={{index .StringMap "last_month_year"}}&m={{index .StringMap "last_month"}}">
                    &lt;&lt;
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                <a class="btn btn-outline-secondary" 
                    href="/admin/reservations-calendar?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}">
                    &gt;&gt;
                </a>
            </div>
            <div class="clearfix"></div>






            {{ range $rooms }}
                {{ $roomID := .ID }}
                {{/* 
                    notes: to get a value from a variable that's outside of this loop (rooms loop)
                    you do that by placing a $ sign in front of it (eg $.Data).
                    Also, see below how to use Sprintf() within a template. Its simply 'printf'
                 */}}
                {{ $blocks := index $.Data (printf "block_map_%d" .ID) }}
                {{ $reservations := index $.Data (printf "reservation_map_%d" .ID) }}

                <h4 class="mt-4">{{ .RoomName }}</h4>

                <div class="table-responsive">

                    <table class="table table-bordered table-sm">
                        <tr class="table-dark">
                            {{ range $index := iterate $daysInMonth }}
                                <td class="text-center">
                                    {{/* notes: 
                                        we add 1 to everyday of month here to avoid a month showing 
                                        in calendar as 0 
                                    */}}
                                    {{ add $index 1 }}
                                </td>
                            {{ end }}
                        </tr>

                        <tr>
                            {{ range $index := iterate $daysInMonth }}
                                <td class="text-center">
                                    {{/* 
                                        First thing in this td, we need to check 
                                            -if there is a reservation & mark the field as already reserved (eg with letter R). 
                                                There will be a reservation if any given date in a month has an entry in the 
                                                reservationMap ($reservations) against that day-of-the-month's date key, that 
                                                is greater than 0.  
                                        If not then there can only two other options:
                                            -either a block, which we will check the box for, or;
                                            -its an open date, so we leave the box unchecked
                                     */}}
                                     {{/* 
                                        notes: how to use a greater than conditional check in go templates. The syntax is: 'gt firstValue secondValue' 
                                    */}}
                                    {{ if gt (index $reservations (printf "%s-%s-%d" $currentYear $currentMonth (add $index 1))) 0 }}
                                        <a href="/admin/reservations/cal/{{index $reservations (printf "%s-%s-%d" $currentYear $currentMonth (add $index 1)) }}">
                                            <span class="text-danger">R</span>
                                        </a>
                                    {{ else }}
                                        <input 
                                            {{ if gt (index $blocks (printf "%s-%s-%d" $currentYear $currentMonth (add $index 1))) 0 }}
                                                checked
                                                name="remove_block_{{ $roomID }}_{{ printf "%s-%s-%d" $currentYear $currentMonth (add $index 1) }}"
                                                value="{{ index $blocks (printf "%s-%s-%d" $currentYear $currentMonth (add $index 1)) }}"
                                            {{ else }}
                                                name="add_block_{{ $roomID }}_{{ printf "%s-%s-%d" $currentYear $currentMonth (add $index 1) }}"
                                            {{ end }}
                                            type="checkbox">
                                    {{ end }}
                                </td>
                            {{ end }}
                        </tr>
                    </table>

                </div>
            {{ end }}
        </div>

    </div>

{{ end }}