{{ template "base" . }}

{{ define "content" }}

    <div class="container">
        <div class="row">
                <div class="col">
                    <h1>This is the home page</h1>
                    <p>This is some text</p>
                    Visit <a href="/about"> About page</a> 

                    {{/*
                    <img src="/static/images/kamardeen.jpg" width="750" height="500" /> 
                    */}}
                </div>
        </div>
    </div>
    
{{ end }}